@import '../_mixins.scss';
@import '../variables/colors';

.nav-list{
    .hamburger{
        position: fixed;
        left: 0.2em;
        top: 0.2em;
        z-index: 10;
        cursor: pointer;
        background-color: $primary-clr-light;
        border-style: none;
        border-radius: 5px;
        @include flexCenterX(column)
    }
    .menuNav {
        @include listStyle();
        @include flexCenterX(column);
        padding: 0;
        margin: 0;
        background-color: $primary-clr-medium;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 0;
        overflow: hidden;
        max-width: 290px;
        z-index: 9;
      }
      .menuNav.showMenu {
        width: 100%;
      }
    li{
        list-style-type: none;
        margin: 0.5em 1em;
        @include hoverLift();
        a{
            color:$primary-clr-light;
        }
        button{
            color:$primary-clr-light;
            border-style: none;
            background-color: transparent;
            padding:0;
        }
    }
}