
@mixin flexCenterXY{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin listStyle{
    a{
        text-decoration: none;
        list-style: none;
        list-style-type: none;
    }
}